@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: system) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#blob {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background: linear-gradient(to right, #72b01d, #3f7d20);
  animation: blobanimate 10s infinite linear forwards;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  z-index: -2;
  transition: 750ms linear;
}

#overlay {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(10em);
}

@keyframes blobanimate {
  0% {
    transform: rotate(0deg) scaleY(100%);
  }
  50% {
    transform: rotate(180deg) scaleY(70%);
  }
  100% {
    transform: rotate(360deg) scaleY(100%);
  }
}
